.todoList{
    &__controls{
        &__add{
            padding: 15px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-btn{
                margin-left: 8px;
                min-width: 140px;
            }
        }
    }
}
