/* You can add global styles to this file, and also import other style files */
.card {
  margin-top: 12px;
  border-radius: 8px;
  box-shadow: black;
  background: #adacac;
  padding: 6px;
}
input {
  display: block;
  width: 100%;
  padding: 4px;
  margin-top: 8px;
}
