.person{
    display: flex;
    flex-direction: row;
    width: 65%;
    padding: 24px;
    margin-top: 16px;
    height: 100%;
    min-height: 200px;
    min-width: 300px;

    &__avatar{
        max-width: 260px;
        border-radius: 8px;
    }
    &__info{
        margin-left: 24px;
        &-label{
            margin-left: 16px;
            border-top: 1px solid white;
            list-style-type: none;
            span{
                margin-right: 8px;
            }
        }
    }
}
