<!Doctype html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="with=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/main.css")
    title #{docType}
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__item-list
          li.main-header__item
            a.active(href="/shop") Shop
          li.main-header__item
            a.active(href="/products/add") Add product

    main
      .grid
      each product in products
        article.card.product-item
          header.card__header
            h1.product__title #{product.title || 'bobo'}
          .card__image
            img(src="https://i.ytimg.com/an_webp/61Q6wWu5ziY/mqdefault_6s_480x270.webp?du=3000&sqp=CLyhtP4F&rs=AOn4CLBT6F0-CVAAyZOViFoktZcWcQv2mA", alt="")
          .card__content
            h2.product__price $100500
            p.product__description book desc
          .card__actions
            button.btn Add to box
