$border-color: #c0c0c0;
$primary-color: #6969ee;
$header-height: 34px;
$toolbar-height: 48px;
$formula-height: 21px;

$first-cell-width: 40px;
$row-height: 24px;

$cell-bg: #e3eaee;
$cell-width: 120px;

$db-header-height: 64px;
