<%- include('../components/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('../components/navigation.ejs') %>

<main>
fff
</main>
<%- include('../components/end.ejs') %>
