<%- include('../components/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('../components/navigation.ejs') %>

<main>
    <% if (items.length > 0) { %>
        <% } else { %>
            <h1>Cart is empty</h1>
        <% } %>
</main>
<%- include('../components/end.ejs') %>
